@using DoAnAdmin.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}
<!-- Left side columns -->
<div class="col-lg-8">
    <div class="row">
        <!-- Sales Card -->
        <div class="col-xxl-4 col-md-6">
            <div class="card info-card sales-card">
                <div class="filter">
                    <a class="icon" href="" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                            <h6>Filter</h6>
                        </li>
                        <li><a class="dropdown-item" href="@Url.Action("pageAdmin",new {or="all"})">Tất cả</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("pageAdmin",new {or="today"})">Hôm nay</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("pageAdmin",new {or="month"})">Trong tháng</a></li>
                        <li><a class="dropdown-item" href="@Url.Action("pageAdmin",new {or="year"})">Trong năm</a></li>
                    </ul>
                </div>

                <div class="card-body">
                    <h5 class="card-title">Đơn hàng<span>|Tổng đơn hàng</span></h5>

                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-cart"></i>

                        </div>
                        <div class="ps-3">
                            <h6>@ViewBag.TongDonHang</h6>
                            <a href="@Url.Action("AdminOrder","Admin")">Chi tiết đơn hàng</a>
                        </div>
                    </div>
                </div>

            </div>
        </div><!-- End Sales Card -->
        <!-- Revenue Card -->
        <div class="col-xxl-4 col-md-6">
            <div class="card info-card customers-card">

                <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                </div>

                <div class="card-body">
                    <h5 class="card-title">Customers <span>| Tất cả</span></h5>

                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-people"></i>
                        </div>
                        <div class="ps-3">
                            <h6>@ViewBag.TongCustomer</h6>
                            <a href="@Url.Action("Employees","Admin")">Chi tiết nhân viên</a>
                        </div>
                    </div>

                </div>
            </div>
        </div><!-- End Revenue Card -->
        <!-- Customers Card -->
        <div class="col-xxl-4 col-xl-12">
            <div class="card info-card revenue-card">

                <div class="filter">
                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <li class="dropdown-header text-start">
                            <h6>Filter</h6>
                        </li>

                        <li><a class="dropdown-item" href="#">Hôm nay</a></li>
                        <li><a class="dropdown-item" href="#">Tháng này</a></li>
                        <li><a class="dropdown-item" href="#">Năm hiện tại</a></li>
                    </ul>
                </div>

                <div class="card-body">
                    <h5 class="card-title">Doanh thu <span>| Tất cả</span></h5>

                    <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                            <i class="bi bi-currency-dollar"></i>
                        </div>
                        @{

                        }
                        <div class="ps-3">
                            <h6>@String.Format("{0:0,0}", ViewBag.TongDoanhThu)₫</h6>
                        </div>
                    </div>
                </div>

            </div>
            

        </div><!-- End Customers Card -->
        <!-- Reports -->
        <!-- Recent Sales -->
    </div>
</div>
