@model DoAnAdmin.Models.Employee

@{
    ViewBag.Title = "UpdateEmployees";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml";
}

<h2>UpdateEmployees</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Employee</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.empID)

        <div class="form-group">
            Tên nhân viên
            <div class="col-md-10">
                @Html.EditorFor(model => model.empName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.empName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Ngày sinh
            <div class="col-md-10">
                @Html.EditorFor(model => model.empDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.empDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Hình ảnh
            <div class="col-md-10">
                @Html.EditorFor(model => model.empPhoto, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.empPhoto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Địa chỉ
            <div class="col-md-10">
                @Html.EditorFor(model => model.empAddress, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.empAddress, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Lương
            <div class="col-md-10">
                @Html.EditorFor(model => model.empSalary, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.empSalary, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Thưởng
            <div class="col-md-10">
                @Html.EditorFor(model => model.empBonus, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.empBonus, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Ngày bắt đầu làm việc
            <div class="col-md-10">
                @Html.EditorFor(model => model.empStartTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.empStartTime, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Email
            <div class="col-md-10">
                @Html.EditorFor(model => model.empEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.empEmail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Số điện thoại
            <div class="col-md-10">
                @Html.EditorFor(model => model.empPhone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.empPhone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Mật khẩu
            <div class="col-md-10">
                @Html.EditorFor(model => model.empPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.empPassword, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            Chức vụ
            <div class="col-md-10">
                @Html.DropDownList("empRole", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.empRole, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-outline-secondary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "pageAdmin")
</div>
