@using DoAnAdmin.Models
@using PagedList.Mvc
@model List<Comment>
@{
    int i = 0;
    string avatar;
    var us = Session["user"] as DoAnAdmin.Models.Customer;
    if (us == null)
    {
        i = 1;
    }
    else
    {
        i = 0;
        if( us.cusPhoto == null)
        {
            avatar = "messages-1.jpg";
        }
    }
    QL_LaptopEntities db = new QL_LaptopEntities();
    var cm = Session["cm"] as DoAnAdmin.Models.Comment;
    Comment CM = Model.ToList().FirstOrDefault();
    string idPro = "";
    if (CM != null)
    {
        idPro = CM.proID;
    }
}
    @using (Html.BeginForm())
    {
        <div class="w-100">
            <div>
                <h1>Comments</h1>
                <div style="max-height:400px;overflow:scroll;overflow-x:hidden">
                    @foreach (var item in Model)
                    {
                        var av = db.Customers.Where(n => n.cusID == item.cusID).ToList().FirstOrDefault();
                        avatar = av.cusPhoto;
                        <div class="comment mt-4 text-justify">
                            <img src="~/Assets/Image/ImageAvatar/@avatar" alt=""
                                 class="rounded-circle" width="30" height="30">
                            <h4>@item.cusName</h4> <span>@item.comDate</span> <br>
                            <label style="margin:0">@item.comMessage</label>
                        </div>
                    }


                    @if (cm != null)
                    {
                        
                        var av = db.Customers.Where(n => n.cusID == cm.cusID).ToList().FirstOrDefault();
                        avatar = av.cusPhoto;
                        <div class="comment mt-4 text-justify">
                            <img src="~/Assets/Image/ImageAvatar/@avatar" alt=""
                                 class="rounded-circle" width="40" height="40">
                            <h4>@cm.cusName</h4> <span>@cm.comDate</span> <br>
                            <label style="margin:0">@cm.comMessage</label>
                        </div>
                    }
                </div>

            </div>
            <div>
                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea onclick="clickMe(@i)" name="msg" id="msg" cols="30" rows="5" class="form-control"
                              style="background-color: white;"></textarea>
                    <script>
                        function clickMe(i) {
                            if (i == 1) {
                                window.location = "../Customers/Login";
                            }
                        }
                    </script>
                </div>
                <div class="form-group" style="text-align:center">

                    <button id="btn_update1" type="submit" class="button_52">Comment</button>
                </div>
            </div>
        </div>
    }


<style>
    .ul.pagination {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    ul.pagination li {
        display: inline;
    }

        ul.pagination li a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
        }

            ul.pagination li a.active {
                background-color: #4CAF50;
                color: white;
            }

            ul.pagination li a:hover:not(.active) {
                background-color: #ddd;
            }
</style>
<style>
    .form-group {
        margin-bottom: 20px;
    }

        .form-group label {
            font-size: 15px;
            color: #808080;
        }

        .form-group input, .form-group textarea {
            border-color: black;
        }
</style>