@model DoAnAdmin.Models.Description
<style>
    .title {
        text-align: center;
        font-weight: 600;
        margin: 20px 0;
    }

    .des {
        padding-bottom: 20px;
    }

    .des_title {
        font-weight: 600;
    }

    .des_img {
        margin: 0 auto;
        display: block;
        width: 100%;
    }

    p {
        text-indent: 30px;
        text-align: justify;
    }
</style>
<div class="des mt-5">
    @if (ViewBag.tb == "1")
    {
        string[] vs;
        if (Model.title.Contains("•"))
        {
            vs = @Model.content.Split('•');
        }
        else
        {
            vs = @Model.content.Split('&');
        }
<p class="des_title">@Model.title</p><br />
                <img class="des_img" src="/Assets/Image/ImageDescription/@Model.image_" /> for (int i = 0; i < vs.Length - 1; i++)
                                {
                <p class="text-justify" style="margin-top:10px">@vs[i]</p> }
                            }
                            else
                            {
                <p>@ViewBag.tb</p>}
</div>