@model DoAnAdmin.Models.TitleDetailAccessory

@{ ViewBag.Title = "InsertDescription";
    Layout = "~/Views/Shared/_LayoutPageAdmin.cshtml"; }

@using (Html.BeginForm())
{
@Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                                <div class="container bg-light" style="font-size:17px;color:black;width:1000px">
                                    <div class="card">
                                        <div class="card-header">
                                            <center> <h5 class="mt-3" style="font-weight:bold; color:blue;text-transform:uppercase"><i class="fab fa-app-store-ios"></i>&nbsp;THÊM MÔ TẢ SẢN PHẨM</h5></center>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-group">
                                                <div class="editor-label mb-1">
                                                    Nội dung:
                                                </div>
                                                @Html.TextBoxFor(model => model.ttName, new { @class = "form-control", placeHolder = "ttName", rows = "5" })
                                            </div>

                                            <center>
                                                <p class="form-group mx-auto ">
                                                    <input type="submit" value="Thêm" class="btn btn-primary" />
                                                </p>
                                                <p class="text-danger" style="font-weight:bold">@ViewBag.tb</p>
                                            </center>
                                            @Html.ActionLink("Back to List", "TitleAccessory")
                                        </div>
                                    </div>
                                </div>}