@model List<DoAnAdmin.Models.Product>
@using DoAnAdmin.Models;
@{ QL_LaptopEntities db = new QL_LaptopEntities();
    int i = 0;
    }
<style>
    .promotionHome {
        margin: 0 32px;
        background-image: url(https://cdn.tgdd.vn/mwgcart/mwg-site/ContentMwg/images/newyear2023/Background/xu-huong-mua-sam.png);
        background-size: 100% 100%;
        height: 400px;
    }

        .promotionHome .title {
            padding: 24px 50px 10px;
            font-size: 23px;
            color: #fe2a43;
            font-weight: 600;
        }

        .promotionHome .sp {
            padding: 0px 30px !important;
        }

    .promotionHome_card {
        width: 265px !important;
        height: 300px !important;
        background-color: white !important;
        padding: 10px;
        margin-right: 23px !important;
    }

    .promotionHome_img {
        height: 175px !important;
    }

    .promotionHome_card:hover {
        box-shadow: 0 0 0 0 !important;
    }

    .promotionHome_card .card-body {
        color: black !important;
        margin-top: 10px;
        padding: 0 !important;
    }

    .promotionHome_card .home-product-item__sale-off {
        right: 20px !important;
        width: 46px !important;
    }

        .promotionHome_card .home-product-item__sale-off::after {
            border-width: 0 23px 4px !important;
        }
</style>
<div class="promotionHome">
    <h5 class="title">Khuyến mãi giá sốc</h5>
    <div class="sp">
        <div class="cards-wrapper d-flex">
            @foreach (var item in Model)
            {
                if (i == 4) { break; }
                promotion promotion = db.promotions.Where(n => n.product_id == item.id).FirstOrDefault();
                int ptGiam = (int)promotion.price * 100 / (int)item.price;
                i++;
                //Detail det = db.Details.Where(n => n.product_id == item.id).FirstOrDefault();
                <div class="card promotionHome_card">
                    <div class="home-product-item__sale-off">
                        <span class="home-product-item__sale-off-percent">@ptGiam<sup>%</sup></span>
                        <span class="home-product-item__sale-off-label">GIẢM</span>
                    </div>
                    <a href="@Url.Action("DetailProduct", "Product", new {@maSP = @item.id })">
                        <img class="promotionHome_img" src="/Assets/Image/ImageProduct/@item.avatar" alt="">
                    </a>
                    <div class="card-body" style="margin-top:30px">
                        @if (item.Name.Length <= 30)
                        {
                            <h5 class="card-title"> @item.Name</h5>
                        }
                        else
                        {
                            <h5 class="card-title"> @item.Name.Substring(0,30).ToString()</h5>
                        }
                    <div class="pirce_asus_home row" style="padding:0 20px">

                        <p class="card-text col-7 de_pro_p de_pro_pirce">
                            @{ @String.Format("{0:0,0}", item.price)}₫
                        </p>
                        <p class="card-text_discout col-5 de_pro_p" style="color: #3e3e3f; text-indent: 0"> @{ @String.Format("{0:0,0}", promotion.price_after)}₫</p>
                    </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
