@model IEnumerable<DoAnAdmin.Models.Product>
@using DoAnAdmin.Models;
@{ var dem = 0;
    QL_LaptopEntities db = new QL_LaptopEntities();
    int count = db.Products.Where(det => det.trademark_id == 1 && det.quanlity > 0).Count(); }
<style>
       .logo_mac {
           height: 35px;
       }

       .carousel-inner {
           position: relative;
           width: 100%;
           overflow: visible;
       }

       .xd {
           white-space: pre-wrap;
       }

       .card-body {
           padding: 0 1rem !important;
           position: relative;
       }

       .sp .card .card-body {
           line-height: 6px !important;
       }
       /**
    * c-tooltip Styles
    */
       /* Base styles for the element that has a c-tooltip */
       [data-c-tooltip] {
           position: relative;
           cursor: pointer;
       }
           /* Base styles for the entire c-tooltip */
           [data-c-tooltip]:before,
           [data-c-tooltip]:after {
               position: absolute;
               visibility: hidden;
               -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
               filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
               opacity: 0;
               -webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
               -moz-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
               transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
               -webkit-transform: translate3d(0, 0, 0);
               -moz-transform: translate3d(0, 0, 0);
               transform: translate3d(0, 0, 0);
               pointer-events: none;
           }
           /* Show the entire c-tooltip on hover and focus */
           [data-c-tooltip]:hover:before,
           [data-c-tooltip]:hover:after,
           [data-c-tooltip]:focus:before,
           [data-c-tooltip]:focus:after {
               visibility: visible;
               -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
               filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
               opacity: 1;
           }
           /* Base styles for the c-tooltip's directional arrow */
           [data-c-tooltip]:before {
               z-index: 1001;
               border: 6px solid transparent;
               background: transparent;
               content: "";
           }
           /* Base styles for the c-tooltip's content area */
           [data-c-tooltip]:after {
               z-index: 1000;
               padding: 8px;
               width: 290px;
               background-color: #000;
               background-color: rgba(51, 51, 51, 0.9);
               color: #fff;
               content: attr(data-c-tooltip);
               font-size: 14px;
               line-height: 1.2;
           }
           /* Directions */
           /* Top (default) */
           [data-c-tooltip]:before,
           [data-c-tooltip]:after {
               bottom: 40%;
               left: 50%;
           }

           [data-c-tooltip]:before {
               margin-left: -6px;
               margin-bottom: -12px;
               border-top-color: #000;
               border-top-color: rgba(51, 51, 51, 0.9);
           }
           /* Horizontally align top/bottom c-tooltips */
           [data-c-tooltip]:after {
               margin-left: -140px;
           }

           [data-c-tooltip]:hover:before,
           [data-c-tooltip]:hover:after,
           [data-c-tooltip]:focus:before,
           [data-c-tooltip]:focus:after {
               -webkit-transform: translateY(-12px);
               -moz-transform: translateY(-12px);
               transform: translateY(-12px);
           }
</style>
<div class="nsx">
    @*<img class="logo_mac" src="https://cdn.tgdd.vn/Category/10199/WMac-120x50-1.png" />*@
    <img class="logo_mac" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/MacBook_logo.svg/1280px-MacBook_logo.svg.png" />
</div>
<div class="sp">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            @for (int i = 0; i < count; i = i + 4)
            {
                if (i >= 0 && i < 4)
                {
<div class="carousel-item active">
    <div class="cards-wrapper d-flex" style="width:50px">
        @{ foreach (var item in Model)
            {
                String box = "";
                int tienKK = 0;
                promotion promotion = db.promotions.Where(n => n.product_id == item.id).FirstOrDefault();
                Detail det = db.Details.Where(n => n.product_id == item.id).FirstOrDefault();
                if (det != null)
                {
                    box = "CPU : " + det.CPU + "\n" +
                            "RAM : " + det.RAM + "\n" +
                            "Bộ nhớ đệm : " + det.Cache + "\n" +
                            "Tốc độ CPU : " + det.Speed + "\n" +
                            "Tần số quét : " + det.TanSoQuet + "\n" +
                            "Số luồng : " + det.SoLuong + "\n" +
                            "Số nhân : " + det.SoNhan + "\n" +
                            "Ổ cứng : " + det.OCung + "\n";
                }
                if (promotion != null)
                {
                    tienKK = (int)promotion.price_after;
                }

                if (dem == 4) { break; }
<a style="text-decoration: none" href="@Url.Action("DetailProduct", "Product", new { @maSP = @item.id })" class="xd" tooltip-position='bottom' data-c-tooltip="@box">
    <div class="card " style="overflow:hidden">
        <img style="height: 65%;" class="card-img-top" src="~/Assets/Image/ImageProduct/@item.avatar" alt="..." />
        <div class="card-body">

            @{ if (item.Name.Length <= 50)
                {
<h5 class="card-title_mac">
    @item.Name
</h5> }
else
{
<h5 class="card-title_mac">
    @item.Name.Substring(0, 50).ToString()
</h5> } }
            <div class="parameter_ram_ssd" style="margin-top:45px;">
                <p class="">RAM: @det.RAM - SSD: @det.SoNhan</p>
                @*<p>SSD: 200GB</p>*@
            </div>
            <div class="d-flex">
                @if (tienKK != 0)
                {
            <p class="card-text">
                @{ @String.Format("{0:0,0}", tienKK)}₫
            </p>
                                        <p class="card-text_discout">@{ @String.Format("{0:0,0}", item.price)}₫</p> }
                                    else
                                    {
            <p class="card-text">
                @{ @String.Format("{0:0,0}", item.price)}₫
            </p>}
            </div>
            <div>
                <div class="ratingStar_home d-flex">
                    <span>4.5</span>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>

                @{ int ptGiam = 0;
                    if (promotion == null)
                    {
                        ptGiam = 0;
                    }
                    else
                    {
                        ptGiam = (int)promotion.price * 100 / (int)@item.price;
                    } }
                <span class="discout_asushome" style="bottom: -1px; padding: 6px 12px 6px 5px;">@ptGiam%</span>
            </div>
        </div>
    </div>
</a> dem++;
                    } }
    </div>
</div> }
                else
                {

<div class="carousel-item">
    <div class="cards-wrapper d-flex">
        @{ foreach (var item in Model.Skip(dem))
            {
                String box = "";
                int tienKK = 0;
                promotion promotion = db.promotions.Where(n => n.product_id == item.id).FirstOrDefault();
                Detail det = db.Details.Where(n => n.product_id == item.id).FirstOrDefault();
                if (det != null)
                {
                    box = "CPU : " + det.CPU + "\n" +
                            "RAM : " + det.RAM + "\n" +
                            "Bộ nhớ đệm : " + det.Cache + "\n" +
                            "Tốc độ CPU : " + det.Speed + "\n" +
                            "Tần số quét : " + det.TanSoQuet + "\n" +
                            "Số luồng : " + det.SoLuong + "\n" +
                            "Số nhân : " + det.SoNhan + "\n" +
                            "Ổ cứng : " + det.OCung + "\n";
                }

                if (promotion != null)
                {
                    tienKK = (int)promotion.price_after;
                }
<a style="text-decoration: none" href="@Url.Action("DetailProduct", "Product", new { @maSP = @item.id })" class="xd" tooltip-position='bottom' data-c-tooltip="@box">
    <div class="card" style="overflow:hidden">
        <img style="height: 65%;" class="card-img-top" src="~/Assets/Image/ImageProduct/@item.avatar" alt="..." />
        <div class="card-body">

            @{ if (item.Name.Length <= 50)
                {
<h5 class="card-title_mac">
    @item.Name
</h5> }
else
{
<h5 class="card-title_mac">
    @item.Name.Substring(0, 50).ToString()
</h5> } }
            <div class="parameter_ram_ssd" style="margin-top:45px;">
                <p class="">RAM: @det.RAM - SSD: @det.SoNhan</p>
                @*<p>SSD: 200GB</p>*@
            </div>
            <div class="d-flex">
                @if (tienKK != 0)
                {
            <p class="card-text">
                @{ @String.Format("{0:0,0}", tienKK)}₫
            </p>
                                        <p class="card-text_discout">@{ @String.Format("{0:0,0}", item.price)}₫</p> }
                                    else
                                    {
            <p class="card-text">
                @{ @String.Format("{0:0,0}", item.price)}₫
            </p>}
            </div>
            <div>
                <div class="ratingStar_home d-flex">
                    <span>4.5</span>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half"></i>
                </div>

                @{ int ptGiam = 0;
                    if (promotion == null)
                    {
                        ptGiam = 0;
                    }
                    else
                    {
                        ptGiam = (int)promotion.price * 100 / (int)@item.price;
                    } }
                <span class="discout_asushome" style="bottom: -1px; padding: 6px 12px 6px 5px;">@ptGiam%</span>
            </div>
        </div>
    </div>
</a> dem++;
if (dem % 4 == 0)
{
    break;
}
} }
    </div>
</div>}
            }
        </div>
        <button class="prev carousel-control-prev"
                type="button"
                data-bs-target="#carouselExampleControls"
                data-bs-slide="prev"
                style="width:50px">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="next carousel-control-next"
                type="button"
                data-bs-target="#carouselExampleControls"
                data-bs-slide="next"
                style="width:50px">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
