@model IEnumerable<DoAnAdmin.Models.Product>
@using DoAnAdmin.Models;
@{ QL_LaptopEntities db = new QL_LaptopEntities();
    int i = 0;
    }
<style>
    .sellingHome {
        margin: 50px 32px 0;
        background-image: url(https://cdn.tgdd.vn/mwgcart/mwg-site/ContentMwg/images/newyear2023/Background/dich-vu-tien-ich.png);
        background-size: 100% 100%;
        height: 420px;
    }

    .sellingHome_title {
        padding: 20px 30px 20px;
        justify-content: space-between;
    }

        .sellingHome_title h5 {
            font-size: 23px;
            color: white;
            font-weight: 600;
        }

        .sellingHome_title a {
            font-size: 18px;
            color: white;
            font-weight: 500;
            text-decoration: none;
        }

            .sellingHome_title a:hover {
                color: #ffda4b;
            }

    .sellingHome .sp {
        padding: 0px 30px !important;
    }

    .sellingHome_card {
        width: 265px !important;
        height: 300px !important;
        background-color: white !important;
        padding: 10px;
        margin-right: 23px !important;
    }

    .sellingHome_img {
        height: 195px !important;
    }

    .sellingHome_card:hover {
        box-shadow: 0 0 0 0 !important;
    }

    .sellingHome_card .card-body {
        color: black !important;
        margin-top: 10px;
        padding: 0 !important;
    }

    .sellingHome_card .home-product-item__sale-off {
        right: 20px !important;
        width: 46px !important;
    }

        .sellingHome_card .home-product-item__sale-off::after {
            border-width: 0 23px 4px !important;
        }
</style>

<div class="sellingHome">
    <div class="sellingHome_title d-flex">
        <h5>Sản phẩm bán chạy</h5>
        <a href="@Url.Action("ShowProductsSPbanChay", "Product")">
            Xem tất cả
            <img style="width:25px;height:25px" src="https://cdn-icons-png.flaticon.com/512/6548/6548182.png" />
        </a>
    </div>
    <div class="sp">
        <div class="cards-wrapper d-flex">
            @foreach (var item in Model)
            {
                if (i == 4) { break; }
                
                promotion promotion = db.promotions.Where(n => n.product_id == item.id).FirstOrDefault();
                int ptGiam = 0;
                if (promotion == null)
                {
                    ptGiam = 0;
                }
                else
                {
                    ptGiam = (int)promotion.price * 100 / (int)item.price;
                }
                string[] k = item.id.Split('0');
                string itemsau = k[0];
                string url = "";
                if(itemsau.Equals("PKC"))
                {
                    url = "DetailAccessory";
                }
                else
                {
                    url = "DetailProduct";
                }

                i++;
                //Detail det = db.Details.Where(n => n.product_id == item.id).FirstOrDefault();
            <div class="card sellingHome_card">
                <div class="home-product-item__sale-off">
                    <span class="home-product-item__sale-off-percent">@ptGiam<sup>%</sup></span>
                    <span class="home-product-item__sale-off-label">GIẢM</span>
                </div>
               
                    <a href="@Url.Action(url, "Product", new {@maSP = @item.id })">
                        <img class="card-img-top sellingHome_img" src="/Assets/Image/ImageProduct/@item.avatar" alt="">
                    </a>
                



                <div class="card-body" style="margin-top:30px">
                    @if (item.Name.Length <= 30)
                    {
            <h5 class="card-title_name"> @item.Name</h5> }
        else
        {
            <h5 class="card-title_name"> @item.Name.Substring(0, 30).ToString()</h5>}
                    <div class="pirce_asus_home row" style="padding:0 20px">
                        @if (promotion != null)
                        {
            <p class="card-text col-7 de_pro_p de_pro_pirce">
                @{ @String.Format("{0:0,0}", promotion.price_after)}₫
            </p>
                                <p class="card-text_discout col-5 de_pro_p" style="color: #3e3e3f; text-indent: 0"> @{ @String.Format("{0:0,0}", item.price)}₫</p> }
                            else
                            {
            <p class="card-text col-7 de_pro_p de_pro_pirce">
                @{ @String.Format("{0:0,0}", item.price)}₫
            </p>}
                    </div>
                </div>
            </div>  
            }
        </div>
    </div>
</div>
