@model PagedList.IPagedList<DoAnAdmin.Models.Detail>
@using PagedList.Mvc;
@using PagedList;
@using DoAnAdmin.Models;
@{ ViewBag.Title = "ShowProductsAsus";
    Layout = "~/Views/Shared/_ProductTydeLayout.cshtml";
    QL_LaptopEntities db = new QL_LaptopEntities(); }
<style>
    .nsx > img {
        height: 20px;
        width: 100px;
    }

    .card1 {
        background-color: white;
        /*        border-radius: 24px;*/
        box-shadow: 2px 3px 7px #b2b2b2;
        height: 500px;
        margin: 0 0 40px 60px;
        width: 310px
    }

        .card1:hover {
            box-shadow: 9px 9px 16px rgb(0 0 0 / 44%), -9px -9px 16px rgb(83 83 86 / 80%);
        }
</style>

<div class="w-100" style="background-color: black; margin-top: 60px">
    <div class="nsx">
        <img src="~/Assets/Image/ImageLogo/lap_Acer.png" />
    </div>
    <div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" style="margin:0 50px;">
        <div class="carousel-inner banner_mac" style="border-radius:20px; height:300px">
            <div class="carousel-item active" data-bs-interval="3000">                
                <img src="https://shop.tti.com.ph/pub/media/rokanthemes/brand/ACER-BANNER.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img src="https://media-api-beta.thinkpro.vn/backend/uploads/brand/acer-banner-thinkpro.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img src="https://gameone.ph/media/wysiwyg/ACER-March-2022-Inner-Banner-GameOne-Inner-Banners_1_.jpeg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="container mt-5 row">
        <div></div>
        <div class="contai d-lg-flex row">
            @foreach (var item in Model)
            {

                var Promotion = db.promotions.Where(n => n.product_id == item.product_id && n.date_end >= DateTime.Now).FirstOrDefault();
                int ptGiam = 0;
                if (Promotion == null)
                {
                    ptGiam = 0;
                }
                else
                {
                    ptGiam = (int)Promotion.price * 100 / (int)@item.Product.price;
                }
<div class="card1 border-0 col-3">
    <div class="home-product-item__favourite">
        <span>Trả góp 0%</span>
    </div>
    <div class="home-product-item__sale-off">
        <span class="home-product-item__sale-off-percent">@{@ptGiam}%</span>
        <span class="home-product-item__sale-off-label">GIẢM</span>
    </div>
    <div class="backgroundEffect"></div>
    <div class="pic">
        <br />
        <a href="@Url.Action("DetailProduct", "Product", new {@maSP = @item.product_id })">
            <img class="" src="/Assets/Image/ImageProduct/@item.Product.avatar" alt="">
        </a>
        @*<div class="promotion">
                <span class="tragop">Trả góp 0%</span>
                <span class="giamgia">Giảm 1.000.000đ</span>
            </div>*@
    </div>
    <div class="content d-block">
        <br />
        <a class="content_info mt-4 mb-2" href="@Url.Action("DetailProduct", "Product", new { @maSP = @item.product_id })">
            @if (@item.Product.Name.Trim().Length > 50)
            {
@item.Product.Name.Substring(0, 50) }
else
{
@item.Product.Name}
        </a>
        <br />
        <span class="h-1 mt-4 price" style="font-weight:bold;">
            @Html.Action("PromotionPricePartial", "Product", new { @maSP = item.product_id, style = "color:red" })
            &nbsp;&nbsp;
            @*Nếu có khuyến mãi thì gạch giá cũ đi*@
            @{ promotion kk = db.promotions.Where(n => n.product_id == item.product_id && n.date_end >= DateTime.Now).FirstOrDefault();
                if (kk != null)
                {
<span class="text-muted" style="text-decoration:line-through;font-size:15px">@string.Format("{0:0,0}", item.Product.price) đ</span> }
else
{

} }
        </span>
        <p class="text-muted mt-3">
            <i style="width: 20px;" class="icon text-muted fas fa-desktop pe-1 mb-2"></i>
            <span>
                &nbsp;&nbsp;@item.ManHinh
                @if (@item.DoPhanGiai.Trim().Length > 21)
                {
@item.DoPhanGiai.Substring(0, 21);
}
else
{
@item.DoPhanGiai;
}
            </span><br>
            <i style="width: 20px;" class="icon text-muted fas fa-microchip pe-1 mb-2"></i><span>&nbsp;&nbsp;@item.CPU<br></span>
            <i style="width: 20px;" class="icon text-muted fas fa-sd-card pe-1 mb-2"></i><span>&nbsp;&nbsp;@item.RAM, @item.RAM_type.Split(' ')[0]<br></span>
            @if (@item.OCung.Length > 20)
            {
<i style="width: 20px;" class="icon text-muted fas fa-hdd pe-1 mb-2"></i><span>&nbsp;&nbsp;@item.OCung.Substring(0, 20) ...<br></span> }
else
{
<i style="width: 20px;" class="icon text-muted fas fa-hdd pe-1 mb-2"></i><span>&nbsp;&nbsp;@item.OCung<br></span>}
            @if (@item.VGA.Length > 25)
            {
<i style="width: 20px;" class="icon text-muted fas fa-digital-tachograph pe-1"></i><span>&nbsp;&nbsp;@item.VGA.Substring(0, 25) ...</span> }
else
{
<i style="width: 20px;" class="icon text-muted fas fa-digital-tachograph pe-1"></i><span>&nbsp;&nbsp;@item.VGA</span>}
        </p>
        <div class="d-flex align-items-center justify-content-between mt-3 pb-3">
            <button type="button" class="add_card btn" data-toggle="tooltip" data-bs-placement="right" data-bs-title="Add to cart">
                <a style="text-decoration:none;color:white;" href="@Url.Action("AddCart", "Cart", new { @id = item.product_id})">
                    <img style="width:30px;height:30px" src="https://cdn-icons-png.flaticon.com/512/4064/4064928.png" />
                </a>
            </button>
            <div class="d-flex ">
                <span class="far fa-eye pe-1"></span>
                <p class=" icon text-muted">@item.Product.view_</p>
            </div>
        </div>
    </div>
</div>}
        </div>
        <nav aria-label="Page navigation example mt-3" style="padding: 0 0 20px; ">
            <ul class="pagination justify-content-center m-0">
                <li class="page-item">@Html.PagedListPager(Model, Page => Url.Action("ShowProductsAsus", new { Page }))</li>
            </ul>
        </nav>

    </div>
</div>

